html {
  max-width: 40em;
  margin: 10vmin auto;
  font-family: system-ui, sans-serif;
  text-align: center;
}

hr {
  height: 1px;
  background-color: #ddd;
  border: none;
  margin: 1em auto;
  width: 50%;
}

button {
  display: flex;
  width: 100%;
  padding: 2em 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1em 0;
  border: none;
  border-radius: 10000em;
  background-color: tomato;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
button[disabled] {
  filter: grayscale(1);
}

button[data-secondary] {
  background-color: #ddd;
  color: #000;
}

a {
  color: tomato;
}
